h1.ui.header {
    font-family: 'Montserrat', sans-serif;
}

h2.ui.header {
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}

h1{
    font-family: 'Monserrat', sans-serif;
}

p {
    font-family: 'Varela Round', sans-serif;
}